.center {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1em;
	margin-bottom: 1em;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

.ideograph {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.hidden {
   display: none;
}

.correct {
	padding: 0.5em;
	border: 1px solid #00f;
}

.incorrect {
	padding: 0.5em;
	border: 1px solid #f00;
}


#header {
   padding: 1em;
   background: #FFE680;
   text-align: center;
}

.tools {
    float: right;
    padding-right: 1em;
}


#footer {
   padding-top: 1em;
   padding-bottom: 1em;
   background: #BFF08E;
   text-align: center;
}
