* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}

.ideograph {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#login-form {
   display: none;
}

.correct {
	padding: 0.5em;
	border: 1px solid #00f;
}

.incorrect {
	padding: 0.5em;
	border: 1px solid #f00;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
   padding-top: 2em;
   padding-bottom: 1em;
	background: #FFE680;
   text-align: center;
}

.tools {
    float: right;
    padding-right: 1em;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin: 1em 1em 2em 1em;
}

#content ul {
    padding-left: 5em;
}

#content li {
    list-style: none;
}

#content input {
    margin-right: 1em;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
   padding-top: 1em;
   padding-bottom: 1em;
	background: #BFF08E;
}
