{% extends "base.html" %}

{% block content %}
<h1>Font display testing</h1>

<p>In order to use this site for foreign vocabulary training, your web browser needs to be able to display characters in those languages. Below are sentences in each of the languages we support. If you cannot clearly see all the characters for the language you are intending to practise, you will need to install the correct fonts for your browser and operating system.</p>

<h2>Simplified Chinese</h2>
<p>我的氣墊船充滿了鱔魚</p>

<h2>Japanese</h2>
<p>私のホバークラフトは鰻でいっぱいです</p>

<p>&lt;— <a href="{% url question-page %}">Back to front page</a></p>
{% endblock %}

